<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>All Contacts</string>
		<key>description</key>
		<string>Show a list of contacts.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Add new Contact</string>
		<key>description</key>
		<string>Adds new Contact to local Address Book and Devi Mandir Portal</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sync with Portal</string>
		<key>description</key>
		<string>Sync with Devi Mandir Portal to fetch all contacts</string>
	</dict>
</array>
</plist>
